In [ ]:
num_1 = int(input("Enter first number: "))
num_2 = int(input("Enter second number: "))
Sum = num_1 + num_2
print("Sum of two numbers is: ", Sum)

Enter first number: 1
Enter second number: 2
Sum of two numbers is:  3

**Question 2 **

In [ ]:
del print

In [ ]:
age = int(input("Entee your age = "))
weight = int(input("Enter your weight in Kg = "))
height =  float(input("Enter your height in cm = "))
Correct_age = abs(age)

print(correct_age)

BMR = "88.362 + (13.397*weight) + (4.799*height) - (5.677*age)"

bmr = eval(BMR)

print("The BMR of the patient is", int(bmr))

Entee your age = -45
Enter your weight in Kg = 85
Enter your height in cm = 5.6
21
The BMR of the patient is 1509

In [ ]:
Student_1_course_Name= str(input("Course Name = "))
Students_1_age = int(input("Entee your age = "))

Student_2_course_Name= str(input("Course Name = "))
Students_2_age = int(input("Entee your age = "))

Student_3_course_Name= str(input("Course Name = "))
Students_3_age = int(input("Entee your age = "))

Student_4_course_Name= str(input("Course Name = "))
Students_4_age = int(input("Entee your age = "))

Student_5_course_Name= str(input("Course Name = "))
Students_5_age = int(input("Entee your age = "))

avg = (Students_1_age+Students_2_age+Students_3_age+Students_4_age+Students_5_age)/5

print("Average Age of Students =", int(avg)

Course Name = Science
Entee your age = 23
Course Name = commerce
Entee your age = 24
Course Name = maths
Entee your age = 27
Course Name = english
Entee your age = 26
Course Name = marathi
Entee your age = 22
Average Age of Students = 24.4

Special  Class

In [ ]:
expression = input("Enter your mathametical expression = ")
Result = eval(expression)
print(int(Result))

Enter your mathametical expression = 32/12
2

In [ ]:
house_size_1 = float(input("Enter the value of your house= "))
bedrooms_1 = int(input("Enter the number of bedrooms = "))
price_1 = float(input("Enter the budgest"))

house_size_2 = float(input("Enter the value of your house= "))
bedrooms_2 = int(input("Enter the number of bedrooms = "))
price_2 = float(input("Enter the budgest"))

house_price_1 = house_size_1*5000
house_price_2 = house_size_2*5000

print("The price of the house_1=", house_price_1)
print("The price of the house_2=", house_price_2)

threshold = 7500000


Under_threshold_1 = house_price_1 >= threshold
Under_threshold_2 = house_price_2 >= threshold

print("User one 1 is paying aboce threshold =", (Under_threshold_1))
print("User one 2 is paying aboce threshold =", (Under_threshold_2))

Enter the value of your house= 1500
Enter the number of bedrooms = 2
Enter the budgest500000
Enter the value of your house= 3000
Enter the number of bedrooms = 3
Enter the budgest800000
The price of the house_1= 7500000.0
The price of the house_2= 15000000.0
User one 1 is paying aboce threshold = True
User one 2 is paying aboce threshold = True

In [ ]:
stock_symbol ="xyz"
current_price = 100
percentage_change = 10

new_price = current_price*(1+percentage_change/100)

print(new_price)

user_budget = int(input("your_budegt= "))

a=user_budget >= new_price

print(a)

110.00000000000001
your_budegt= 75
False

In [ ]:
current_tem = float(input("Enter current temperature = "))
min_tem = 25
max_tem = 45

Result = min_tem <= current_tem >= max_tem

print(Result)

Enter current temperature = 32
False

# **Conditional Statements**

In [ ]:
i = 20
if i < 10:
  print("20 is geater than 10")
else:
  print("condition is false")

condition is false

# **#temparture condition if less than 15degree not convenient and in between 24 to 28 temperature is convenient**

In [ ]:
temp = float(input("enter the current temperature = "))

if temp <= 15:
  print("temparture is not conveniant")

if 24<temp<28:
  print("temperature is conveniant")

else:
  print("temperature is not conveniant")

enter the current temperature = 26
temperature is conveniant

# **salary Example**

In [ ]:
base_salary = float(input("Enter your base salary = "))
year_of_services = float(input("Enter your years of services = "))

if year_of_services > 5:
  net_salary = base_salary+(0.08*base_salary)-(0.12*base_salary)
  print("you will get salary of", net_salary)

else :
  net_salary = base_salary-(0.12*base_salary)
  print("you will get salary of", net_salary)

Enter your base salary = 500000
Enter your years of services = 6
you will get salary of 480000.0

In [ ]:
a = str(input("Enter your city ="))

if a == "Mumbai":
  print("Gate of India")

elif a == "Kolkota":
  print ("Victoria")

elif a == "Chennai":
  print ("Marina")

elif a == "Banglore":
  print ("Bot")

elif a == "Pune":
  print ("Sahnivarwada")

else:
  print("No Idea")

Enter your city =Banglore
Bot

While Loop

In [ ]:
count = 1
while count<=5:
  print(count)
  count = count+1

1
2
3
4
5

In [ ]:
  num = 1
  while num<=50:
    if num%2 == 0:
      print(num)
      num = num+1

KeyboardInterrupt:

In [ ]:
email = str(input("enter your email id = "))

valid_email = True

while valid_email:
  if "@" in email and "." in email:
    print ("Email ID validation passed")
    valid_email = False

  else:
    print("Invalid Email Id ")
    email = input("Enter your email properly = ")

enter your email id = sagarkodimyala2gmail.com
Invalid Email Id
Enter your email properly = sagarkodimyala@gmail.com
Email ID validation passed

# **For Loop **

In [ ]:
numbers = [1,2,3,4,5]
for i in numbers:
  print(i)

1
2
3
4
5

In [ ]:
n = "students"
for i in n:
  print(i)

s
t
u
d
e
n
t
s

In [ ]:
for i in range(12):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
for x in range(5,25):
  print(x)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [ ]:
for i in range(0,26):
  if i%2==0:
    print("the number is even= ", i)
  else:
    print("the number is odd= ", i)

the number is even=  0
the number is odd=  1
the number is even=  2
the number is odd=  3
the number is even=  4
the number is odd=  5
the number is even=  6
the number is odd=  7
the number is even=  8
the number is odd=  9
the number is even=  10
the number is odd=  11
the number is even=  12
the number is odd=  13
the number is even=  14
the number is odd=  15
the number is even=  16
the number is odd=  17
the number is even=  18
the number is odd=  19
the number is even=  20
the number is odd=  21
the number is even=  22
the number is odd=  23
the number is even=  24
the number is odd=  25

In [ ]:
number = int(input("Enter number for multofication = "))
print("The multification table of = ", number)

for i in range(1,11):
  print(f"{number} x {i} = {number*i}" )

Enter number for multofication = 5
The multification table of =  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
num_items= int(input("Number of items purchased ="))
total_price=0

for i in range(num_items):
  price=float(input("enter the price of product = "))
  total_price = total_price + price
  i = i+1

if total_price >= 100:
  discount = 0.1*total_price
elif 50<= total_price <100:
  discount = 0.05*total_price
else:
  discount =0

total_bill=total_price - discount
print("Subtotal", total_bill)

# **Def Function**

In [ ]:
def  my_function():
  print("hello")

In [ ]:
my_function()

hello

In [ ]:
def details_bill():
  print("The last date of bill payment on next week")
  print("After deadline you need pay fine of 1000")
  print("pay your bill soon")

In [ ]:
for i in range(3):
  a = input("enter the name")
  b = int(input("enter the unit you have used"))
  bill = b*10
  print("total amount to be paid = ", bill)
  details_bill()

enter the nameSagar
enter the unit you have used500
total amount to be paid =  5000
The last date of bill payment on next week
After deadline you need pay fine of 1000
pay your bill soon

KeyboardInterrupt: Interrupted by user

In [ ]:
def check_even_odd(number):
  if number%2==0:
    print("the number is even")
  else:
    print("the number is odd")

In [ ]:
check_even_odd(24)

the number is even

In [ ]:
def calculate_exam_statistics(exam_scores):
    num_students = len(exam_scores)

    # Calculate the average score, max score, and min score
    average_score = sum(exam_scores) / num_students
    max_score = max(exam_scores)
    min_score = min(exam_scores)

    # Initialize the count for passed students
    num_passed = 0

    # Count how many students scored 80 or above
    for score in exam_scores:
        if score >= 80:
            num_passed += 1

    # Calculate the number of failed students
    num_failed = num_students - num_passed

    return average_score, min_score, max_score, num_passed, num_failed

In [ ]:
exam_score = [85, 92, 78, 90, 88, 95, 82, 79,87,91]
average_score, min_score, max_score, num_passed, num_failed = calculate_exam_statistics(exam_score)

print("Average Score:", average_score)
print("Minimum Score:", min_score)
print("Maximum Score:", max_score)
print("Number of Passed Students:", num_passed)
print("Number of Failed Students:", num_failed)

Average Score: 86.7
Minimum Score: 78
Maximum Score: 95
Number of Passed Students: 8
Number of Failed Students: 2

# **Special class 11 **

In [ ]:
def grade_distrubution_sysmtem(score):

  for grade in score:
    if 90<= grade <=100:
      print ("Your Grade is A")

    elif  80<= grade <=89:
      print ("Your Grade is B")

    elif  70<= grade <=79:
      print ("Your Grade is C")

    elif  60<= grade <=69:
      print ("Your Grade is  D")

    else:
      print("Your Grade is E")

  return

In [ ]:
score = [85, 92, 78, 90, 88, 95, 82, 79,87,91]
grade_distrubution_sysmtem(score)

Your Grade is B
Your Grade is A
Your Grade is C
Your Grade is A
Your Grade is B
Your Grade is A
Your Grade is B
Your Grade is C
Your Grade is B
Your Grade is A

#Random Guessing game

In [ ]:
import random
def Random_guessing_game():
    # Choose a random letter from the alphabet
    secret_number = random.randint(1,5)
    print(secret_number)

    print("Welcome to the game")
    print("I have choosen one number, guess the number= ")

    attempts = 0
    guess = None

    while guess != secret_number:

      guess = int(input("Enter your guess number = "))
      attempts = attempts+1

      if guess < secret_number:
        print("Two low, please guess again")

      elif guess > secret_number:
        print("Two High, please guess again")

      else:
        print("Congratulation you choose correct number")
        print("Number of attempts", attempts)
        print("Thankyou for playing the game")

In [ ]:
Random_guessing_game()

2
Welcome to the game
I have choosen one number, guess the number=
Enter your guess number = 1
Two low, please guess again
Enter your guess number = 2
Congratulation you choose correct number
Number of attempts 2
Thankyou for playing the game

Practic example 3

In [ ]:
def sum_of_square(n):
    total = 0
    for i in range(1, n + 1):
        total += i ** 2  # Adds the square of each number to the total
    return total

def main():
    n = int(input("Enter your natural number: "))
    result = sum_of_square(n)  # Call the function to calculate the sum of squares
    print(f"The sum of the squares of the first {n} natural numbers is: {result}")

# Call the main function to run the program
main()

Enter your natural number: 3
The sum of the squares of the first 3 natural numbers is: 14

In [ ]:
from pickle import HIGHEST_PROTOCOL
scores = [55, 89, 76, 65, 93, 50, 72]
highscore =[]

for score in scores:
  if score> 70:
    highscore.append(score)

  else:
    pass
print(highscore)

[89, 76, 93, 72]

In [ ]:
list_data = [1,2,3,4,5,6,7,8,9,10]

sum_first_five= sum(1:6)

print(sum_)

SyntaxError: invalid syntax (<ipython-input-7-7efba7027e9c>, line 3)

In [ ]:
My_resposes = ["yes","","No","","Maybe","", "Notokay"]
clean=[]

for response in My_resposes:
  if response != "":
    clean.append(response)
  else:
    pass

print(clean)

['yes', 'No', 'Maybe', 'Notokay']

In [ ]:
List_1 = [[1,2],[3,4],[5,6]]
List_2 = [[7,8],[9,10]]

sum = List_1 + List_2

print

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]